
* {
    transition: all 0.3s ease;
    letter-spacing: 0.125em;
}

body {
    /* background-image: url(../images/bg.png); */
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 350px;
    background-color: #00040d;
}

#preloader {
    width: 100%;
    height: 100%;
}

#preloader {
    background: black;
    color: #ddd;
    padding: 5px;
    box-sizing: border-box;
}

#preloader::-webkit-scrollbar {
    display: none;
}

span.ok,
span.fail,
span.fail:before,
span.ok:before {
    margin-right: 10px;
}

span.ok {
    color: #1EC622;
}

span.fail {
    color: red;
}

span.ok:before,
span.fail:before {
    content: '[';
}

span.ok:after,
span.fail:after {
    margin-left: 10px;
    content: ']';
}

#maincontent {
    display: none;
}