/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); /*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap'); /*font-family: 'Kanit', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

/* Scroll bar */
.scrollBar::-webkit-scrollbar {
    width: 10px;
  }
  
  .scrollBar::-webkit-scrollbar-thumb {
    background: #160380;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #190A05, #160380);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #190A05, #160380); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .scrollBar::-webkit-scrollbar-thumb:hover {
    background: #160380;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #190A05, #160380);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #190A05, #160380); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }



*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* navbar */
logo img{
  max-height:100px;
  background-color:transparent;
}
.navbar-custom{
  position: absolute;
  z-index: 2;
  /* padding-left: 4rem; */
}



/* Intro button */

.btn-intro a{
	color: #01b7ff;
	display: inline-block;
	font-size: 24px;
  font-family: 'Poppins', sans-serif;
	letter-spacing: 4px;
	margin: 20px 40px;
	padding: 24px 30px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.btn-intro a:hover{
	background: #01eeff;
	box-shadow: 0 0 5px #03E9F4, 0 0 25px #0394f4, 0 0 50px #0357f4, 0 0 200px #022380;
	color: #050801;
}

.btn-intro a span{
	display: block;
	position: absolute;
}

.btn-intro a span:nth-child(1){
	animation: animate1 1s linear infinite;
	background: linear-gradient(90deg, transparent, #01eeff);
	height: 2px;
	left: -100%;
	top: 0;
	width: 100%;
}

@keyframes animate1{
	0%{
		left: -100%;
	}
	50%, 100%{
		left: 100%;	
	}
}

.btn-intro a span:nth-child(2){
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
	background: linear-gradient(180deg, transparent, #01eeff);
	height: 100%;
	top: -100%;
	right: 0;
	width: 2px;
}

@keyframes animate2{
	0%{
		top: -100%;
	}
	50%, 100%{
		top: 100%;	
	}
}

.btn-intro a span:nth-child(3){
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
	background: linear-gradient(270deg, transparent, #01eeff);
	bottom: 0;
	height: 2px;
	right: -100%;
	width: 100%;
}

@keyframes animate3{
	0%{
		right: -100%;
	}
	50%, 100%{
		right: 100%;	
	}
}

.btn-intro a span:nth-child(4){
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
	background: linear-gradient(360deg, transparent, #01eeff);
	bottom: -100%;
	height: 100%;
	left: 0;
	width: 2px;
}

@keyframes animate4{
	0%{
		bottom: -100%;
	}
	50%, 100%{
		bottom: 100%;	
	}
}







.btn-intro{
  position: absolute;
  z-index: 2;
  top:70%;
  left:50%;
  transform: translate(-50%,-50%);
}

.btn-intro a{
  text-decoration: none;
}








.intro{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro video{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#intro-head{
    position: absolute;
    transform: translate(-50%,-50%);
} 

/* //////////////////  Intro heading \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */  
 #intro-head{
    text-align: center;
    /* position: absolute; */
    font-size: 6rem;
    /* z-index: 3; */
  }


@media screen and (max-width:400px) {
  #intro-head{
    font-size: 4rem;
  }  
}
  
 #intro-head{
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  /* Now we are going to import the animation and the animation color after
  Hover */
 #intro-head{
    color: #fff;
    font-family: Raleway;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate; 
  /*   This neon1 is the function for the color change */
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
    font-family:"Monoton";
   
  }
  /* This is the function that causes keyframe animation */
  @-webkit-keyframes neon1 {
  /*   This from means the animation starts from here */
    from {
      text-shadow: 0 0 5px rgb(179, 174, 174), 0 0 10px rgb(3, 230, 247), 0 0 15px rgb(20, 39, 209), 0 0 20px #09bbe7, 0 0 25px #0082fc, 0 0 30px #06006f, 0 0 35px #1511ff, 0 0 150px #130d64;
    }
    to {
      text-shadow: 0 0 5px rgb(179, 174, 174), 0 0 10px rgb(3, 230, 247), 0 0 15px rgb(20, 39, 209), 0 0 20px #09bbe7, 0 0 35px #0082fc, 0 0 40px #06006f, 0 0 50px #1511ff, 0 0 75px #130d64;
    }
  }


  /* /////////////////////////////// S E C T I O N \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */